<form [formGroup]="form">
  <div><label>Select User ID <select formControlName="userId">
    <option *ngFor="let user of users" [ngValue]="user.id">{{user.id}}</option>
  </select></label></div>
  <div><label>Title<input type="text" formControlName="title"></label></div>
  <div><label>Completed<input type="checkbox" formControlName="completed" ></label></div>
  <button (click)="saveTodo()" [disabled]="form.invalid">{{!todoForUpdate ? 'Add Todo' : 'Update Todo'}}</button>
</form>
<hr/>
<app-todo *ngFor="let todo of todos" [todo]="todo"></app-todo>
